<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>oneBUG.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D229C2021CA12D4E002B1840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D229C21B1CA12D4E002B1840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D229C2261CA12D4E002B1840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
